:root {
    --color-principal: #F8BBD0;        
    --color-secundario: #FCE4EC;       
    --color-texto-principal: #4A4A4A;  
    --color-precio: #ff86ae;           
    --sombra-card: 0 4px 8px rgba(0, 0, 0, 0.05); 
    --sombra-hover: 0 12px 25px rgba(248, 187, 208, 0.5); 
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--color-texto-principal);
    background-color: #FFF; 
}

.nav-link.active {
    color: var(--color-precio) !important; 
    border-bottom: 2px solid var(--color-precio);
}
.nav-link:hover {
    color: var(--color-precio) !important;
}

.btn-principal {
    background-color: var(--color-precio);
    color: #FFF;
    border: none; 
    padding: 10px 20px; 
    border-radius: 5px; 
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    transition: background-color 0.3s ease, box-shadow 0.3s ease; 
}

.btn-principal:hover {
    background-color: #e5739e; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}

.Precio {
    color: var(--color-precio) !important;
    letter-spacing: 0.5px;
    margin-top: 5px;
    font-weight: 700;
}

.card-title {
    color: var(--color-texto-principal);
    font-weight: 600;
}

.card {
    border: 1px solid var(--color-secundario);
    box-shadow: var(--sombra-card);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; 
}

.card:hover {
    transform: translateY(-8px); 
    box-shadow: var(--sombra-hover); 
}

@media (max-width: 768px) {
    
    .top-banner p {
        font-size: 0.7em !important;
        line-height: 1.3;
        white-space: normal; 
    }

    .navbar-collapse {
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        background-color: var(--color-secundario) !important;
        border-top: 2px solid var(--color-precio);
        padding: 10px 0;
    }
    
    .navbar-nav .nav-item {
        border-bottom: 1px solid var(--color-principal);
    }

    .navbar-nav .nav-link {
        padding: 10px 20px !important;
        text-align: left;
    }
    
    .navbar-toggler {
        border-color: var(--color-principal) !important; 
    }
    
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23ff86ae' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
    }

    .card-img-top {
        max-height: 180px; 
        object-fit: cover; 
        width: 100%; 
        border-bottom: 1px solid var(--color-secundario); 
    }

    
    .card-title.fs-5 { 
        font-size: 1.1rem !important;
    }

    
    .card-body {
        padding: 10px !important; 
    }
    
   
    .row.row-cols-1.row-cols-md-2.row-cols-lg-4.g-4 .col {
        padding-left: 10px; 
        padding-right: 10px;
    }
}